/* home-page */
a{
    text-decoration: none;
}
#home-page{
   background-image: url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 50px;
}
.navbar-barnd{
    text-decoration: none;
    color: #fff;
}
.cstm-btn{
    background: transparent;
    border-width: 2px;
    border: 1px solid #fff;
    padding: 8px 22px;
    border-radius: 20px;    
    color: #fff;
    display: inline-block;
    transition: .4s;
}

.cstm-btn:hover{
   background: #fff;
   color: #14b789;
}
nav i{
   padding: 14px;
   
    text-align: center;
    background: #14b789;
    color: #fff;
    border-radius: 50%;
}


/* bnner */
#bnner .flex-shrink-0 img {
    width: 90.4px;
    height: 90.4px;
    border-radius: 50%;
    object-fit: cover;
}    
#bnner{
    padding-top: 100px;
   
  
}
#bnner .hero{
    background: #fff;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
    border-radius: 20px;
    display: inline-block;
    padding: 8px 24px; 
    font-size: 40px;
    font-weight: 600;
}
#bnner .hero2{
    font-size: 28px;
    display: inline-block;
    background: #fff;
    color: #14b789;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
    border-radius: 20px;
    display: inline-block;
    padding: 8px 24px; 
    font-weight: 600;
}

#bnner .card{
    background: none;
}

.circle-img{
    width: 350px;
    height: 350px;
    background: #fff;
    border-radius: 50%;
    margin-top: -60px;
    position: relative;
    align-self: center;
}

.circle-img img{
    display: block;
    position: absolute;
    top: 50px;
    right: 10px;

    width: 100%;
}

.border-btn a {
    font-size: 14px;
    color: #fff;
    background-color: #621aab;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.border-btn a:hover {
    background: #22b3c1;
    color: #fff;
}

@media screen and  (max-width: 992px) { 
    #bnner .cnter{
        align-self: center;
    }
}

/* about */

#about .pic img{
    border-radius: 20px;
}